/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.accordion {
    > li {
        padding: 1rem 0;

        > a {
            text-decoration: none;
        }
    }

    ul {
        overflow: hidden;
        height: 0;
    }
}
