/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.accordion {
    > li {
        padding: 1rem 0;

        > a {
            text-decoration: none;
            border-bottom: none;
        }
    }

    ul {
        overflow: hidden;
        height: 0;
    }

    .open {
        ~ ul {
            height: auto;
            overflow: auto;
            padding: 2rem 0;
        }
    }
}

.no-js {
    .accordion {
        ul ul {
            height: auto;
            overflow: auto;
            padding: 2rem 0;
        }
    }
}
