/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.accordion {
    > li {
        padding: 1rem 0;
    }

    &__item {
        text-decoration: none;
        border-bottom: none;
    }

    ul {
        overflow: hidden;
        height: 0;
    }

    .open {
        ~ ul {
            height: auto;
            overflow: auto;
            padding: 2rem 0;
        }
    }

    li[class^='ion-'] {
        &:before {
            margin-right: 0.5rem;
        }

        a:after {
            position: absolute;
            font-family: $icon-font;
            content: '\f30f';
            transform: rotate(-45deg);
            top: 0.4rem;
            right: -1.4rem;
        }
    }
}

.no-js {
    .accordion {
        ul ul {
            height: auto;
            overflow: auto;
            padding: 2rem 0;
        }
    }
}
