/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.tumblr {
    #contents {
        width: 90%;

        a {
            color: $colour__white;
            border-bottom: 1px solid $colour__white;

            &:hover {
                border-bottom: 1px solid transparent;
            }
        }
    }

    .description {
        background-color: transparent;
        margin-top: 0.75rem;
    }
}

@include tablet($tablet-size) {
    .tumblr {
        #contents {
            width: 100%;
        }
    }
}
