/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.tumblr {
    #header {
        margin: -0.4rem 0 0 $default__spacer;

        @include mobile(0, $mobile-size) {
            margin: -1rem 0 0 $default__spacer;
        }
    }

    header {
        @include hover(
            $animation__type-default,
            $animation__speed-default,
            $animation__ease-default
        );
        height: 10rem;
        position: fixed;
        z-index: 1;
        background-color: $colour__orange-background;
        top: 0;
        width: 100%;

        @include mobile(0, $mobile-size) {
            height: 8rem;
        }

        ul {
            li {
                padding: 0 0 $default__spacer 0;
            }

            a {
                text-transform: initial;
            }
        }
    }

    .logo {
        position: fixed;
        top: $default__spacer;
        left: 1rem;
        margin-right: $default__spacer;

        &__image {
            max-width: 100%;
            width: 22rem;

            @include mobile(0, $mobile-size) {
                width: 17rem;
            }
        }
    }
}
