/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.tumblr {
    #header {
        margin: 7px 0 0 7px;
    }

    header {
        height: 10rem;
        position: fixed;
        z-index: 1;
        background-color: $colour__orange-background;
        top: 0;
        width: 100%;

        @include mobile(0, $mobile-size) {
            height: 8rem;
        }

        ul {
            li {
                padding: 0 0 $default__spacer 0;
            }

            a {
                text-transform: initial;
            }
        }
    }

    .logo {
        position: fixed;
        top: $default__spacer;
        left: $default__spacer;
        margin-right: $default__spacer;

        &__image {
            max-width: 100%;
            width: 22rem;

            @include mobile(0, $mobile-size) {
                width: 17rem;
            }
        }
    }

    .menu__toggle {
        @include no-outline;
        position: fixed;
        right: $default__spacer;
        top: 1rem;
        font-size: $default__spacer * 2;
        color: $colour__white;
        background: none;

        &--close {
            color: $colour__white !important;
            font-size: 4rem;
            top: 0.5rem;
        }
    }
}
