/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

html {
    background-color: transparent !important;
}

*,
:after,
:before {
    box-sizing: inherit;
}

::selection {
    background-color: $colour__black;
    color: $colour__white;
}

body {
    @include scrollBar;
    @include defaultFont;
    @include hover(
        $animation__type-default,
        $animation__speed-default,
        $animation__ease-default
    );
    margin: 0;
    padding: 0;
    background-color: $colour__orange-background;
    color: $colour__white;
    font-family: $primary-font;

    &.scroll-lock {
        .logo {
            filter: grayscale(1) brightness(0) invert(1) blur(1px);

            @include mobile(0, $mobile-size) {
                filter: none;
            }
        }
    }
}

a,
button {
    @include hover(
        $animation__type-default,
        $animation__speed-default,
        $animation__ease-default
    );
    text-decoration: none;
    transition: all 200ms ease-out;

    &:hover {
        @include hover(
            $animation__type-default,
            $animation__speed-default,
            $animation__ease-default
        );
        text-decoration: none;
        color: $colour__pale-grey;
        transition: all 200ms ease-out;
    }
}

button {
    &:hover {
        color: initial;
    }
}

a img {
    @include hover(
        $animation__type-default,
        $animation__speed-default,
        $animation__ease-default
    );
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#pageWrapper {
    margin: 0;
    padding: 11rem 1.5rem 1.5rem 1.5rem;
    min-height: 100vh;

    @include mobile(0, $mobile-size) {
        padding-top: 9rem;
    }
}

p {
    margin-block-start: 0;
}
