/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

html {
    background-color: transparent !important;

    &.doc-scroll-lock {
        margin-right: var(--scrollbar-width) !important;
    }
}

::selection {
    background-color: $colour__black;
    color: $colour__white;
}

body {
    margin: 0;
    padding: 0;
    background-color: $colour__orange;
    color: $colour__white;
    font-family: $primary-font;
    font-size: 3.25em;

    @include mobile(0, $mobile-size) {
        font-size: 2rem;
    }

    &.scroll-lock {
        .logo {
            filter: grayscale(1) brightness(0) invert(1) blur(1px);

            @include mobile(0, $mobile-size) {
                filter: none;
            }
        }
    }
}

a,
button {
    @include hover(
        $animation__type-default,
        $animation__speed-default,
        $animation__ease-default
    );
    text-decoration: none;
    transition: all 200ms ease-out;

    &:hover {
        @include hover(
            $animation__type-default,
            $animation__speed-default,
            $animation__ease-default
        );
        text-decoration: none;
        color: $colour__pale-grey;
        transition: all 200ms ease-out;
    }
}

button {
    &:hover {
        color: initial;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#pageWrapper {
    margin: 0;
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    min-height: 100vh;
}
