/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.nav-wrapper {
    @include hover(
        $animation__type-default,
        300ms,
        $animation__ease-default
    );
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(200%);
    height: 100%;
    width: 50%;
    z-index: 5;
    background-color: $colour__dark-grey;
    padding: 5rem 0 0 1.5rem;
    overflow-y: auto;

    @include mobile(0, $mobile-size) {
        width: 100%;
    }

    &--open {
        @include hover(
            $animation__type-default,
            300ms,
            $animation__ease-default
        );
        transform: translateX(0%);
    }

    &__first {
        padding-bottom: 0.5rem !important;

        img {
            max-width: 4.5rem;

            @include mobile(0, $mobile-size) {
                max-width: 3rem;
            }
        }
    }

    &__plain-link {
        border-bottom: none !important;

        &:hover {
            text-decoration: none;
            border-bottom: none;
        }
    }
}