/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/


html {
    &.high-contrast {
        body,
        header,
        .footer {
            background-color: $colour__white;
            color: $colour__black;

            a {
                color: initial;

                &:hover {
                    color: transparentize($color: ($colour__black), $amount: 0.5);
                }
            }
        }

        body {
            &.scroll-lock {
                .logo {
                    filter: grayscale(1) brightness(0) blur(1px);
                }
            }
        }

        .nav-wrapper {
            background-color: $colour__black;

            a,
            .menu__toggle {
                background-color: transparent;

                &:hover {
                    color: transparentize($color: ($colour__white), $amount: 0.3);

                    img {
                        opacity: 0.7;
                    }
                }
            }

            .menu__toggle--close {
                color: $colour__black;
            }
        }

        .logo {
            filter: grayscale(1) brightness(0);
        }

        .toggle-contrast {
            &:after {
                content: "Reduce contrast";
            }
        }
    }
}
