/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.pages {
    display: flex;
    flex-direction: column;

    @include mobile(0, $mobile-size) {
        padding-left: 1.5rem;
    }

    li,
    a {
        font-family: $primary-font;
        font-size: 3.25rem;
        color: $colour__white;
        text-decoration: none;

        @include mobile(0, $mobile-size) {
            font-size: 2rem;
        }
    }

    a {
        border-bottom: 1px solid $colour__white;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}