/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.pages {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    @include mobile(0, $mobile-size) {
        padding-left: 1.5rem;
    }

    li,
    a {
        font-family: $primary-font;
        font-size: 3.25rem;
        color: $colour__white;
        text-decoration: none;

        @include mobile(0, $mobile-size) {
            font-size: 2rem;
        }
    }

    a {
        border-bottom: 2px solid $colour__white;

        &:hover {
            border-bottom: 2px solid transparent;
        }
    }

    &__social-links {
        display: flex;
        align-items: center;
        margin-top: $default__spacer * 2;

        li {
            padding: 0;

            &:first-of-type {
                margin-right: 2rem;
                margin-top: 0.35rem;

                @include mobile(0, $mobile-size) {
                    margin-right: $default__spacer;
                }
            }

            a {
                border-bottom: 0;

                &:hover {
                    border-bottom: 0;

                    img {
                        @include hover(
                            $animation__type-default,
                            $animation__speed-default,
                            $animation__ease-default
                        );
                    }
                }

                img {
                    @include hover(
                        $animation__type-default,
                        $animation__speed-default,
                        $animation__ease-default
                    );
                    width: 3rem;
                    filter: invert(1);

                    @include mobile(0, $mobile-size) {
                        width: 2rem;
                    }
                }
            }
        }
    }
}

.index-page {
    display: none;
}

.index {
    .index-page {
        display: block;
    }
}
