/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/


html {
    &.high-contrast {
        body,
        header,
        .footer,
        #contents {
            background-color: $colour__white;
            color: $colour__black;

            a {
                color: initial;

                &:hover {
                    color: transparentize($color: ($colour__black), $amount: 0.5);
                }
            }
        }

        body {
            &.scroll-lock {
                .logo {
                    filter: grayscale(1) brightness(0) blur(1px);
                }
            }
        }

        .nav-wrapper {
            background-color: $colour__black;

            a {
                color: $colour__white;
                background-color: transparent;

                &:hover {
                    color: transparentize($color: ($colour__white), $amount: 0.3);

                    img {
                        opacity: 0.7;
                    }
                }
            }
        }

        .menu__toggle {
            color: $colour__black;

            &--close {
                color: $colour__white !important;
            }
        }

        .logo {
            filter: grayscale(1) brightness(0);
        }

        #posts {
            [href] {
                border-bottom: 1px solid $colour__black !important;
        
                &:hover {
                    border-bottom: 1px solid transparent !important;
                }
            }
        }

        .toggle-contrast {
            &:after {
                content: "Reduce contrast";
            }
        }

        .form {
            input,
            textarea {
                border: 1px solid $colour__black;
                padding: 0.5rem;
            }

            button {
                border: 1px solid $colour__black;
            }
        }
    }
}
