/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

#wrapper {
    &.post,
    &.tagged {

        #posts {
            li.post {
                margin-bottom: 12rem;

                @include mobile(0, $mobile-size) {
                    margin-bottom: 8rem;
                }
            }
        }

        .go:has(img) {
            display: flex;
            flex-wrap: wrap;
        }
        
        .npf_row {
            display: flex;
            flex:0 0 50%;
            max-width: 50%;
            flex-direction: column;
            margin: 0 0 0.375rem 0!important;


            @include mobile(0, $mobile-size) {
                flex:0 0 100%;
                max-width: 100%;
            }

            
            &:nth-child(even) img {
                padding-left: 0.375rem;
            }
            
            &:first-of-type {
                flex: 0 0 100%;
                max-width: 100%;
                
                img {
                    padding: 0;
                }
            }
        
            img {
                width: 100% !important;
                box-sizing: border-box;
                display: block;
                margin-bottom: 0.75rem;
            }
        }

        p {
            width: 100%;
        }
    }
}

