/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

$margin__small: 0.1875;

#wrapper {
    &.post,
    &.tagged {

        #posts {
            li.post {
                margin-bottom: 12rem;

                @include mobile(0, $mobile-size) {
                    margin-bottom: 8rem;
                }
            }
        }

        .go:has(img),
        .tmblr-full:has(video) {
            display: flex !important;
            flex-wrap: wrap;
        }
        
        .npf_row,
        .tmblr-full:has(video) {
            box-sizing: border-box;
            display: flex;
            flex:0 0 50%;
            max-width: 50%;
            flex-direction: column;
            margin: 0 0 #{$margin__small * 2}rem 0!important;


            @include mobile(0, $mobile-size) {
                flex:0 0 100%;
                max-width: 100%;
            }

            &:nth-child(odd) {
                padding-right: #{$margin__small * 2}rem;

                @include mobile(0, $mobile-size) {
                    padding-right: 0;
                }
            }
        }

        .npf_row {
            &:first-of-type {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0;
                
                img {
                    padding: 0;
                }
            }
        
            img {
                width: 100% !important;
                box-sizing: border-box;
                display: block;
            }
        }

        p {
            width: 100%;
        }
    }
}

