/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.desktop-hidden {
    display: none;
}

.desktop-visible {
    display: block;
}

.row {
    align-items: flex-start;
    display: flex;
    flex-flow: initial;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: $gap__column;
    row-gap: $gap__column;
}

.el {
    display: flex;
    flex-direction: column;

    &-1 {
        flex: 0 0 8.33333%;
        max-width: calc(8.33333% - 1rem);
    }

    &-2 {
        flex: 0 0 16.66667%;
        max-width: calc(16.66667% - 1rem);
    }

    &-3 {
        flex: 0 0 25%;
        max-width: calc(25% - 1rem);
    }

    &-4 {
        flex: 0 0 33.33333%;
        max-width: calc(33.33333% - 1rem);
    }

    &-5 {
        flex: 0 0 41.66667%;
        max-width: calc(41.66667% - 1rem);
    }

    &-6 {
        flex: 0 0 50%;
        max-width: calc(50% - 1rem);
    }

    &-7 {
        flex: 0 0 58.33333%;
        max-width: calc(58.33333% - 1rem);
    }

    &-8 {
        flex: 0 0 66.66667%;
        max-width: calc(66.66667% - 1rem);
    }

    &-9 {
        flex: 0 0 75%;
        max-width: calc(75% - 1rem);
    }

    &-10 {
        flex: 0 0 83.33333%;
        max-width: calc(83.33333% - 1rem);
    }

    &-11 {
        flex: 0 0 91.66667%;
        max-width: calc(91.66667% - 1rem);
    }

    &-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    img {
        width: 100% !important;
    }
}

@include tablet($tablet-size) {
    .row {
        column-gap: 0;
        flex-flow: row wrap;
    }

    [class^='el'] {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include mobile(0, $mobile-size) {
    .mobile-hidden,
    .mobile-visible {
        display: block;
    }

    .desktop-hidden,
    .desktop-visible {
        display: none;
    }
}
