/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.tumblr {
    .pagination,
    .icon-link,
    .link,
    .description {
        display: none;
    }

    .tmblr-full {
        display: block !important;
    }
}

.tmblr-alt-text-helper {
    display: none !important;
}
