/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.table {
    margin-bottom: $default__spacer;

    thead tr {
        background-color: $colour__dark-grey;
    }

    tr:nth-child(even) {
        td,
        th {
            background-color: $colour__dark-grey;
        }    
    }

    th {
        font-weight: normal;
        text-align: left;
    }
    
    th,
    td {
        padding: 0.25rem;
        border: 1px solid $colour__white;
    }
}