/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

#wrapper {
    &.post,
    &.tagged {

        #posts {
            li.post {
                margin-bottom: 12rem;

                @include mobile(0, $mobile-size) {
                    margin-bottom: 8rem;
                }
            }
        }

        .go:has(img),
        .tmblr-full:has(video) {
            display: flex !important;
            flex-wrap: wrap;
        }
        
        .npf_row,
        .tmblr-full:has(video) {
            box-sizing: border-box;
            display: flex;
            flex:0 0 50%;
            max-width: 50%;
            flex-direction: column;
            padding-right: $margin__small;
            margin: 0 0 $margin__small 0 !important;

            @include mobile(0, $mobile-size) {
                flex:0 0 100%;
                max-width: 100%;
                padding-right: 0;
            }

            img {
                width: 100% !important;
                box-sizing: border-box;
                display: block;
            }

            video {
                aspect-ratio: 1;
                background-color: $colour__black;
            }
        }

        .npf_row,
        .tmblr-full:has(video) {
            &:first-of-type {
                flex: 0 0 100%;
                max-width: 100%;
                
                img {
                    padding: 0;
                }
            }
        }

        p {
            width: 100%;
        }
    }
}

