/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@mixin hover($type, $speed, $ease) {
    transition: $type $speed $ease;
}

@mixin desktop($width) {
    @media screen and (min-width: $width + 1) {
        @content;
    }
}

@mixin tablet($width) {
    @media screen and (min-width: 1px) and (max-width: $width) {
        @content;
    }
}

@mixin mobile($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max - 1) {
        @content;
    }
}

@mixin scrollBar {
    &::-webkit-scrollbar-track {
        background-color: $colour__pale-grey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colour__black;
        outline: none;
    }
}

@mixin scrollBarColour {
    &::-webkit-scrollbar-thumb {
        background-color: #{var(--selection-background)};
    }
}

@mixin no-outline {
    &,
    &:active,
    &:focus {
        outline: none;
    }
}

@mixin emptyContent {
    &:empty {
        display: none;
    }
}
