/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

// colours
$colour__red: #ee4800;
$colour__green: #60c600;
$colour__blue: #00ffff;
$colour__orange: #ff7f00;
$colour__pink: #ff6ccc;
$colour__grey: #848382;
$colour__lime: #d2dd26;
$colour__white: #ffffff;
$colour__palest-grey: #f9f9f9;
$colour__pale-grey: #eeeeee;
$colour__dark-grey: #444444;
$colour__black: #000000;
$colour__overlay: rgba(0, 0, 0, 0.2);
$colour__orange-background: #fcaf19;

// fonts
$primary-font: 'EB Garamond', serif;
$secondary-font: helvetica, arial, sans-serif;
$icon-font: 'ionicons';
$default-font-size: 0.85rem;
$icon-size: 24px;
$font-size__small: 0.5rem;
$font-size__xsmall: 0.4rem;

$img-path: '/img/';

$default__spacer: 1.5rem;

// responsive
$mobile-size: 740px !default;
$tablet-size: 900px !default;
$desktop-size: 1024px !default;

// animations
$animation__type-default: all;
$animation__speed-fast: 100ms;
$animation__speed-default: 400ms;
$animation__speed-slow: 1000ms;
$animation__ease-default: ease-in;

// z-index
$z-top: 1;
$z-mid: 0;
$z-bottom: -1;
$hi-number: 1000000;

// spacing
$gap__column: 2rem;
