/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@import '../functions/mixins.scss';

@include keyframes(animate-greyscale) {
    0% {
        filter: grayscale(1);
    }
    100% {
        filter: grayscale(0);
    }
}

@include keyframes(animate-opacity) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(animate-opacity-reverse) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: animate-opacity 400ms ease-in;
}

.fade-out {
    animation: animate-opacity-reverse 400ms ease-in;
}