@font-face {
    font-family: 'Elstob';
    src: url('https://psb1558.github.io/Elstob-font/webfiles/Elstob.woff2');
    font-weight: 200 800;
    font-style: normal;
}

@font-face {
    font-family: 'Elstob';
    src: url('https://psb1558.github.io/Elstob-font/webfiles/Elstob-Italic.woff2');
    font-weight: 200 800;
    font-style: italic;
}

html {
    height: 100%;
}

body {
    font-family: Elstob;
}

a,
a:link,
a:hover,
a:visited {
    transition: all 200ms ease-in;
}

a {
    border-bottom: 1px solid #000000;
}

a:hover {
    border-bottom: 1px solid transparent;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100% - 2rem);
}

.flat-list {
    display: flex;
    font-size: 75%;
}

.flat-list li {
    margin-right: 1rem;
}

.flat-list li:last-of-type {
    margin-right: 0;
}

h1 {
    font-weight: 200;
    font-style: italic;
    margin-top: 0;
}
