@font-face {
    font-family: 'Elstob';
    src:url("https://psb1558.github.io/Elstob-font/webfiles/Elstob.woff2");
    font-weight: 200 800;
    font-style: normal;
}
@font-face {
    font-family: 'Elstob';
    src:url("https://psb1558.github.io/Elstob-font/webfiles/Elstob-Italic.woff2");
    font-weight: 200 800;
    font-style: italic;
}

body {
    font-family: Elstob;
}