/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

$palest-grey: #f9f9f9;
$pale-grey: #ddd;
$mid-grey: #777;
$white: #fff;
$dark-grey: #333;
$black: #000;
$red: #a30505;
$orange: #f50;
$orange-red: #ff5731;
$yellow: #efef00;
$green: #8bc34a;
$palest-green: #f3f9f3;
$palest-red: #f9f3f3;
$tap-highlight-colour: #f5f5ee;

$primary-font: 'Roboto Mono', menlo, 'courier new', courier, monospace;
$secondary-font: helvetica, arial, sans-serif;
$icon-font: 'ionicons';
$default-font-size: 0.85rem;
$icon-size: 24px;

$img-path: '/img/layout/';
$work-img-path: '/work';

$bg-img: 500px;
$max-img: 600px;
$spacer-x: 10px;

$pale-bg: rgba(255, 255, 255, 0.98);
$white-bg: rgba(255, 255, 255, 0.5);
$grey-bg: rgba(0, 0, 0, 0.4);
$pale-trans: rgba(255, 255, 255, 0.05);
$yellow-trans: rgba(239, 239, 0, 0.95);
$dark-bg: rgba(0, 0, 0, 0.9);

$default-spacer: 50px;

$mobile-size: 740px !default;
$tablet-size: 900px !default;
$desktop-size: 1024px !default;

$z-top: 1;
$z-mid: 0;
$z-bottom: -1;
$hi-number: 1000000;
